<a href="https://colab.research.google.com/github/etegaurav/Projects/blob/master/Extract_PDF_information_using_google_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Python program to extract tabular information from a pdf**
## Tabula library is used to extract the pdf information
## Pandas library is used for data cleaning and manipulation
## This notebook was created in Google Colaboratory in order to avoid the dependencies for Tabula library 
## The pdf used for data extraction was downloaded from the link 
http://www.airindia.in/images/pdf/Mission-Vande-phase-3-schedule.pdf

In [0]:
import tabula
import pandas as pd
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [0]:
# Extraction of data from phase 2 and phase 3 pdfs
df = tabula.read_pdf('/content/Web-schedule-phase-2-complete-3-Jun-20-1800-Hrs-converted-1.pdf',pages='all')
df1 = tabula.read_pdf('/content/Web-schedule-phase-3-complete-3-Jun-20-1800-Hrs.pdf',pages='all')

In [0]:
# loading the extracted data into dataframes
df_phase2 = pd.DataFrame(df)
df_phase3 = pd.DataFrame(df1)

In [48]:
print(type(df_phase2))
print('len of phase2',len(df_phase2))
print('len of phase3',len(df_phase3))

<class 'pandas.core.frame.DataFrame'>
len of phase2 15
len of phase3 16

In [12]:
# exploring the data of the data frame
df_phase2.head()

                                                   0
0        S  DEPARTURE Unnamed: 0 DEPARTURE.1 DEPA...
1      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...
2      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...
3      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...
4      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...

In [0]:
df_phase31 = df_phase3.iloc[0,0]

In [0]:
sum = len(df[0]) + len(df[1]) + len(df[2]) + len(df[3]) + len(df[4]) + len(df[5])

In [140]:
for i in range(len(df1)):
  print(f'len of dataframe {i}: ',len(df1[i]))

len of dataframe 0:  21
len of dataframe 1:  38
len of dataframe 2:  38
len of dataframe 3:  38
len of dataframe 4:  38
len of dataframe 5:  32
len of dataframe 6:  34
len of dataframe 7:  38
len of dataframe 8:  38
len of dataframe 9:  38
len of dataframe 10:  38
len of dataframe 11:  38
len of dataframe 12:  38
len of dataframe 13:  38
len of dataframe 14:  38
len of dataframe 15:  20

In [159]:
sum = 0
for i in range(len(df1)):
  sum = sum + len(df1[i])
print(sum)

563

In [174]:
df_phase31 = pd.concat(df1[1:6])
len(df_phase31)

184

In [175]:

df_phase32 = pd.concat(df1[7:16])
len(df_phase32)

324

In [0]:
df_phase33 = pd.concat([df1[0],df1[6]])

In [179]:
print('len of phase31',len(df_phase31))
print('len of phase32',len(df_phase32))
print('len of phase33',len(df_phase33))
184+324+55

len of phase31 184
len of phase32 324
len of phase33 55

563

In [180]:
df_phase31.columns

Index(['SNO', 'DEPARTURE\rDATE', 'FLIGHT', 'DEPARTURE\rSTATION',
       'DEPARTURE\rTIME', 'ARRIVAL\rSTATION', 'ARRIVAL\rTIME',
       'ARRIVAL\rDATE'],
      dtype='object')

In [181]:
# df_phase3 is the final dataframe containing all the data
df_phase3= pd.concat([df_phase31,df_phase32])
len(df_phase3)

508

In [182]:
df_phase3.columns

Index(['SNO', 'DEPARTURE\rDATE', 'FLIGHT', 'DEPARTURE\rSTATION',
       'DEPARTURE\rTIME', 'ARRIVAL\rSTATION', 'ARRIVAL\rTIME',
       'ARRIVAL\rDATE'],
      dtype='object')

In [183]:
df_phase33.columns

Index(['Unnamed: 0', 'DEPARTURE', 'Unnamed: 1', 'DEPARTURE.1', 'DEPARTURE.2',
       'ARRIVAL', 'ARRIVAL.1', 'ARRIVAL.2'],
      dtype='object')

In [184]:
df_phase3.head(3)

,SNO,DEPARTURE\rDATE,FLIGHT,DEPARTURE\rSTATION,DEPARTURE\rTIME,ARRIVAL\rSTATION,ARRIVAL\rTIME,ARRIVAL\rDATE
0,20,13-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,13-Jun-20
1,21,13-Jun-20,AI 1905,MUMBAI,06:30,LAGOS,11:50,13-Jun-20
2,22,13-Jun-20,AI 0921,MUMBAI,07:45,RIYADH,09:45,13-Jun-20

In [114]:
df_phase33.head(3)

,Unnamed: 0,DEPARTURE,Unnamed: 1,DEPARTURE.1,DEPARTURE.2,ARRIVAL,ARRIVAL.1,ARRIVAL.2
0,SNO,NaN,FLIGHT,NaN,NaN,NaN,NaN,NaN
1,NaN,DATE,NaN,STATION,TIME,STATION,TIME,DATE
2,1,10-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,10-Jun-20

In [0]:
# Renaming the columns in order to maintain uniformity
df_phase3.rename(columns={'DEPARTURE\rDATE':'DEP_DT',
                          'DEPARTURE\rSTATION':'DEP',
                          'DEPARTURE\rTIME':'DEP_TIME',
                          'ARRIVAL\rSTATION':'ARR',
                          'ARRIVAL\rTIME':'ARR_TIME',
                          'ARRIVAL\rDATE':'ARR_DT'},inplace=True)

df_phase33.rename(columns={'Unnamed: 0':'SNO',
                          'DEPARTURE':'DEP_DT',
                           'Unnamed: 1':'FLIGHT',
                          'DEPARTURE.1':'DEP',
                          'DEPARTURE.2':'DEP_TIME',
                          'ARRIVAL':'ARR',
                          'ARRIVAL.1':'ARR_TIME',
                          'ARRIVAL.2':'ARR_DT'},inplace=True)

In [186]:
df_phase3.head(3)

   SNO     DEP_DT    FLIGHT     DEP DEP_TIME      ARR ARR_TIME     ARR_DT
0   20  13-Jun-20  AI  0127   DELHI    02:20  CHICAGO    07:25  13-Jun-20
1   21  13-Jun-20   AI 1905  MUMBAI    06:30    LAGOS    11:50  13-Jun-20
2   22  13-Jun-20  AI  0921  MUMBAI    07:45   RIYADH    09:45  13-Jun-20

In [187]:
df_phase33.head(3)

   SNO     DEP_DT    FLIGHT      DEP DEP_TIME      ARR ARR_TIME     ARR_DT
0  SNO        NaN    FLIGHT      NaN      NaN      NaN      NaN        NaN
1  NaN       DATE       NaN  STATION     TIME  STATION     TIME       DATE
2    1  10-Jun-20  AI  0931   MUMBAI    06:25   JEDDAH    09:00  10-Jun-20

In [189]:
len(df_phase3)+ len(df_phase33)

563

In [190]:
df_phase33

,SNO,DEP_DT,FLIGHT,DEP,DEP_TIME,ARR,ARR_TIME,ARR_DT
0,SNO,NaN,FLIGHT,NaN,NaN,NaN,NaN,NaN
1,NaN,DATE,NaN,STATION,TIME,STATION,TIME,DATE
2,1,10-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,10-Jun-20
3,2,10-Jun-20,AI 1929,MUMBAI,07:45,DAMMAM,09:00,10-Jun-20
4,3,10-Jun-20,AI 1953,BANGALURU,08:00,RIYADH,10:20,10-Jun-20
5,4,10-Jun-20,AI 1957,DELHI,10:00,RIYADH,12:30,10-Jun-20
6,5,11-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,11-Jun-20
7,6,11-Jun-20,AI 0921,MUMBAI,07:45,RIYADH,09:45,11-Jun-20
8,7,11-Jun-20,AI 1947,BANGALURU,08:00,JEDDAH,11:15,11-Jun-20
9,8,11-Jun-20,AI 1937,MUMBAI,08:45,DAMMAM,10:00,11-Jun-20
10,9,11-Jun-20,AI 0995,DELHI,09:00,DUBAI,11:10,11-Jun-20
11,10,11-Jun-20,AI 1183,DELHI,13:30,HELSINKI,18:35,11-Jun-20
12,11,11-Jun-20,AI 0121,DELHI,13:35,FRANKFURT,18:40,11-Jun-20
13,12,12-Jun-20,AI 0187,DELHI,01:00,TORONTO,06:45,12-Jun-20
14,13,12-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,12-Jun-20
15,14,12-Jun-20,AI 0173,DELHI,03:30,SAN FRANCISCO,07:00,12-Jun-20
16,15,12-Jun-20,AI 1921,DELHI,05:30,LAGOS,11:15,12-Jun-20
17,16,12-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,12-Jun-20
18,17,12-Jun-20,AI 1943,BANGALURU,08:00,DAMMAM,10:00,12-Jun-20
19,18,12-Jun-20,AI 1955,HYDERABAD,08:00,RIYADH,10:15,12-Jun-20
20,19,13-Jun-20,AI 0187,DELHI,01:00,TORONTO,06:45,13-Jun-20
0,SNO,NaN,FLIGHT,NaN,NaN,NaN,NaN,NaN
1,NaN,DATE,NaN,STATION,TIME,STATION,TIME,DATE
2,1,10-Jun-20,AI 1930,DAMMAM,11:30,KANNUR,18:20,10-Jun-20
3,2,10-Jun-20,AI 1954,RIYADH,11:20,KOZHIKODE,18:45,10-Jun-20
4,3,10-Jun-20,AI 0964,JEDDAH,11:00,KOCHI,18:50,10-Jun-20
5,4,10-Jun-20,AI 1958,RIYADH,13:30,DELHI,20:25,10-Jun-20
6,5,10-Jun-20,AI 1682,KANNUR,19:50,MUMBAI,21:50,10-Jun-20
7,6,10-Jun-20,AI 1683,KOCHI,20:20,MUMBAI,22:20,10-Jun-20
8,7,11-Jun-20,AI 1996,DUBAI,12:10,SRINAGAR,17:10,11-Jun-20
9,8,11-Jun-20,AI 1934,RIYADH,11:00,KANNUR,18:10,11-Jun-20
10,9,11-Jun-20,AI 1938,DAMMAM,12:00,KOCHI,18:50,11-Jun-20
11,10,11-Jun-20,AI 1693,SRINAGAR,18:10,DELHI,19:35,11-Jun-20
12,11,11-Jun-20,AI 1948,JEDDAH,12:15,KOZHIKODE,20:05,11-Jun-20
13,12,11-Jun-20,AI 1682,KANNUR,19:40,MUMBAI,21:40,11-Jun-20
14,13,11-Jun-20,AI 1690,KOZHIKODE,21:00,BANGALURU,22:00,11-Jun-20
15,14,11-Jun-20,AI 1687,KOCHI,20:50,MUMBAI,22:50,11-Jun-20
16,15,11-Jun-20,AI 0120,FRANKFURT,21:15,DELHI,08:30,12-Jun-20
17,16,11-Jun-20,AI 0126,CHICAGO,12:00,DELHI,13:05,12-Jun-20
18,17,12-Jun-20,AI 1944,DAMMAM,11:00,BANGALURU,17:45,12-Jun-20
19,18,12-Jun-20,AI 1956,RIYADH,11:15,HYDERABAD,18:15,12-Jun-20
20,19,12-Jun-20,AI 1936,JEDDAH,11:00,TRIVANDRUM,18:50,12-Jun-20
21,20,12-Jun-20,AI 1684,TRIVANDRUM,20:20,MUMBAI,22:20,12-Jun-20
22,21,12-Jun-20,AI 1184,HELSINKI,18:00,DELHI,03:45,13-Jun-20
23,22,12-Jun-20,AI 1922,LAGOS,13:15,DELHI,04:00,13-Jun-20
24,23,12-Jun-20,AI 0188,TORONTO,12:15,DELHI,12:15,13-Jun-20
25,24,12-Jun-20,AI 0126,CHICAGO,12:00,DELHI,13:05,13-Jun-20
26,25,12-Jun-20,AI 0174,SAN FRANCISCO,10:30,DELHI,14:55,13-Jun-20
27,26,13-Jun-20,AI 0126,DELHI,15:30,HYDERABAD,17:30,13-Jun-20
28,27,13-Jun-20,AI 1946,DAMMAM,10:50,KOZHIKODE,17:40,13-Jun-20
29,28,13-Jun-20,AI 1940,RIYADH,11:45,TRIVANDRUM,19:15,13-Jun-20
30,29,13-Jun-20,AI 1689,KOZHIKODE,18:40,HYDERABAD,19:40,13-Jun-20
31,30,13-Jun-20,AI 0174,DELHI,17:00,BANGALURU,19:45,13-Jun-20
32,31,13-Jun-20,AI 1948,JEDDAH,12:15,BANGALURU,20:30,13-Jun-20
33,32,13-Jun-20,AI 1686,TRIVANDRUM,20:45,MUMBAI,22:45,13-Jun-20

In [0]:
#dropping unwanted rows from df_phase33
df_phase33.drop(index=[0,1],inplace=True)

In [0]:
#Concatenating the final dataframe
df_phase3 = pd.concat([df_phase33,df_phase3])

In [193]:
len(df_phase3)

559

In [0]:
df_phase3['id'] = pd.Index(range(1,len(df_phase3)+1))

In [0]:
df_phase3.set_index('id',inplace=True)

In [0]:
df_phase3.drop(columns='SNO',inplace=True)

In [204]:
df_phase3

,DEP_DT,FLIGHT,DEP,DEP_TIME,ARR,ARR_TIME,ARR_DT
id,,,,,,,
1,10-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,10-Jun-20
2,10-Jun-20,AI 1929,MUMBAI,07:45,DAMMAM,09:00,10-Jun-20
3,10-Jun-20,AI 1953,BANGALURU,08:00,RIYADH,10:20,10-Jun-20
4,10-Jun-20,AI 1957,DELHI,10:00,RIYADH,12:30,10-Jun-20
5,11-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,11-Jun-20
...,...,...,...,...,...,...,...
555,30-Jun-20,AI 0188,TORONTO,12:15,DELHI,12:15,01-Jul-20
556,30-Jun-20,AI 0126,CHICAGO,12:00,DELHI,13:05,01-Jul-20
557,30-Jun-20,AI 0174,SAN FRANCISCO,10:30,DELHI,15:00,01-Jul-20
558,01-Jul-20,AI 0126,DELHI,15:30,HYDERABAD,17:30,01-Jul-20
559,01-Jul-20,AI 0174,DELHI,17:00,BANGALURU,19:45,01-Jul-20

In [0]:
output = df_phase3.to_excel('phase3_schedule.xlsx')