<a href="https://colab.research.google.com/github/etegaurav/Projects/blob/master/Extract_PDF_information_using_google_colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install -q tabula-py

     |████████████████████████████████| 10.4MB 2.7MB/s

In [0]:
import tabula
import pandas as pd
pd.set_option('display.max_rows',100)
pd.set_option('display.max_columns',100)

In [0]:
# Extraction of data from phase 2 and phase 3 pdfs
df = tabula.read_pdf('/content/Web-schedule-phase-2-complete-3-Jun-20-1800-Hrs-converted-1.pdf',pages='all')
df1 = tabula.read_pdf('/content/Web-schedule-phase-3-complete-3-Jun-20-1800-Hrs.pdf',pages='all')

In [0]:
# loading the extracted data into dataframes
df_phase2 = pd.DataFrame(df)
df_phase3 = pd.DataFrame(df1)

In [48]:
print(type(df_phase2))
print('len of phase2',len(df_phase2))
print('len of phase3',len(df_phase3))

<class 'pandas.core.frame.DataFrame'>
len of phase2 15
len of phase3 16

In [12]:
# exploring the data of the data frame
df_phase2.head()

                                                   0
0        S  DEPARTURE Unnamed: 0 DEPARTURE.1 DEPA...
1      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...
2      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...
3      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...
4      S\rNO DEPARTURE\rDATE    FLIGHT DEPARTURE\...

In [0]:
df_phase31 = df_phase3.iloc[0,0]

In [0]:
sum = len(df[0]) + len(df[1]) + len(df[2]) + len(df[3]) + len(df[4]) + len(df[5])

In [140]:
for i in range(len(df1)):
  print(f'len of dataframe {i}: ',len(df1[i]))

len of dataframe 0:  21
len of dataframe 1:  38
len of dataframe 2:  38
len of dataframe 3:  38
len of dataframe 4:  38
len of dataframe 5:  32
len of dataframe 6:  34
len of dataframe 7:  38
len of dataframe 8:  38
len of dataframe 9:  38
len of dataframe 10:  38
len of dataframe 11:  38
len of dataframe 12:  38
len of dataframe 13:  38
len of dataframe 14:  38
len of dataframe 15:  20

In [159]:
sum = 0
for i in range(len(df1)):
  sum = sum + len(df1[i])
print(sum)

563

In [174]:
df_phase31 = pd.concat(df1[1:6])
len(df_phase31)

184

In [175]:

df_phase32 = pd.concat(df1[7:16])
len(df_phase32)

324

In [0]:
df_phase33 = pd.concat([df1[0],df1[6]])

In [179]:
print('len of phase31',len(df_phase31))
print('len of phase32',len(df_phase32))
print('len of phase33',len(df_phase33))
184+324+55

len of phase31 184
len of phase32 324
len of phase33 55

563

In [180]:
df_phase31.columns

Index(['SNO', 'DEPARTURE\rDATE', 'FLIGHT', 'DEPARTURE\rSTATION',
       'DEPARTURE\rTIME', 'ARRIVAL\rSTATION', 'ARRIVAL\rTIME',
       'ARRIVAL\rDATE'],
      dtype='object')

In [181]:
# df_phase3 is the final dataframe containing all the data
df_phase3= pd.concat([df_phase31,df_phase32])
len(df_phase3)

508

In [182]:
df_phase3.columns

Index(['SNO', 'DEPARTURE\rDATE', 'FLIGHT', 'DEPARTURE\rSTATION',
       'DEPARTURE\rTIME', 'ARRIVAL\rSTATION', 'ARRIVAL\rTIME',
       'ARRIVAL\rDATE'],
      dtype='object')

In [183]:
df_phase33.columns

Index(['Unnamed: 0', 'DEPARTURE', 'Unnamed: 1', 'DEPARTURE.1', 'DEPARTURE.2',
       'ARRIVAL', 'ARRIVAL.1', 'ARRIVAL.2'],
      dtype='object')

In [184]:
df_phase3.head(3)

,SNO,DEPARTURE\rDATE,FLIGHT,DEPARTURE\rSTATION,DEPARTURE\rTIME,ARRIVAL\rSTATION,ARRIVAL\rTIME,ARRIVAL\rDATE
0,20,13-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,13-Jun-20
1,21,13-Jun-20,AI 1905,MUMBAI,06:30,LAGOS,11:50,13-Jun-20
2,22,13-Jun-20,AI 0921,MUMBAI,07:45,RIYADH,09:45,13-Jun-20

In [114]:
df_phase33.head(3)

,Unnamed: 0,DEPARTURE,Unnamed: 1,DEPARTURE.1,DEPARTURE.2,ARRIVAL,ARRIVAL.1,ARRIVAL.2
0,SNO,NaN,FLIGHT,NaN,NaN,NaN,NaN,NaN
1,NaN,DATE,NaN,STATION,TIME,STATION,TIME,DATE
2,1,10-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,10-Jun-20

In [0]:
# Renaming the columns in order to maintain uniformity
df_phase3.rename(columns={'DEPARTURE\rDATE':'DEP_DT',
                          'DEPARTURE\rSTATION':'DEP',
                          'DEPARTURE\rTIME':'DEP_TIME',
                          'ARRIVAL\rSTATION':'ARR',
                          'ARRIVAL\rTIME':'ARR_TIME',
                          'ARRIVAL\rDATE':'ARR_DT'},inplace=True)

df_phase33.rename(columns={'Unnamed: 0':'SNO',
                          'DEPARTURE':'DEP_DT',
                           'Unnamed: 1':'FLIGHT',
                          'DEPARTURE.1':'DEP',
                          'DEPARTURE.2':'DEP_TIME',
                          'ARRIVAL':'ARR',
                          'ARRIVAL.1':'ARR_TIME',
                          'ARRIVAL.2':'ARR_DT'},inplace=True)

In [186]:
df_phase3.head(3)

   SNO     DEP_DT    FLIGHT     DEP DEP_TIME      ARR ARR_TIME     ARR_DT
0   20  13-Jun-20  AI  0127   DELHI    02:20  CHICAGO    07:25  13-Jun-20
1   21  13-Jun-20   AI 1905  MUMBAI    06:30    LAGOS    11:50  13-Jun-20
2   22  13-Jun-20  AI  0921  MUMBAI    07:45   RIYADH    09:45  13-Jun-20

In [187]:
df_phase33.head(3)

   SNO     DEP_DT    FLIGHT      DEP DEP_TIME      ARR ARR_TIME     ARR_DT
0  SNO        NaN    FLIGHT      NaN      NaN      NaN      NaN        NaN
1  NaN       DATE       NaN  STATION     TIME  STATION     TIME       DATE
2    1  10-Jun-20  AI  0931   MUMBAI    06:25   JEDDAH    09:00  10-Jun-20

In [189]:
len(df_phase3)+ len(df_phase33)

563

In [190]:
df_phase33

,SNO,DEP_DT,FLIGHT,DEP,DEP_TIME,ARR,ARR_TIME,ARR_DT
0,SNO,NaN,FLIGHT,NaN,NaN,NaN,NaN,NaN
1,NaN,DATE,NaN,STATION,TIME,STATION,TIME,DATE
2,1,10-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,10-Jun-20
3,2,10-Jun-20,AI 1929,MUMBAI,07:45,DAMMAM,09:00,10-Jun-20
4,3,10-Jun-20,AI 1953,BANGALURU,08:00,RIYADH,10:20,10-Jun-20
5,4,10-Jun-20,AI 1957,DELHI,10:00,RIYADH,12:30,10-Jun-20
6,5,11-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,11-Jun-20
7,6,11-Jun-20,AI 0921,MUMBAI,07:45,RIYADH,09:45,11-Jun-20
8,7,11-Jun-20,AI 1947,BANGALURU,08:00,JEDDAH,11:15,11-Jun-20
9,8,11-Jun-20,AI 1937,MUMBAI,08:45,DAMMAM,10:00,11-Jun-20
10,9,11-Jun-20,AI 0995,DELHI,09:00,DUBAI,11:10,11-Jun-20
11,10,11-Jun-20,AI 1183,DELHI,13:30,HELSINKI,18:35,11-Jun-20
12,11,11-Jun-20,AI 0121,DELHI,13:35,FRANKFURT,18:40,11-Jun-20
13,12,12-Jun-20,AI 0187,DELHI,01:00,TORONTO,06:45,12-Jun-20
14,13,12-Jun-20,AI 0127,DELHI,02:20,CHICAGO,07:25,12-Jun-20
15,14,12-Jun-20,AI 0173,DELHI,03:30,SAN FRANCISCO,07:00,12-Jun-20
16,15,12-Jun-20,AI 1921,DELHI,05:30,LAGOS,11:15,12-Jun-20
17,16,12-Jun-20,AI 0931,MUMBAI,06:25,JEDDAH,09:00,12-Jun-20
18,17,12-Jun-20,AI 1943,BANGALURU,08:00,DAMMAM,10:00,12-Jun-20
19,18,12-Jun-20,AI 1955,HYDERABAD,08:00,RIYADH,10:15,12-Jun-20
20,19,13-Jun-20,AI 0187,DELHI,01:00,TORONTO,06:45,13-Jun-20
0,SNO,NaN,FLIGHT,NaN,NaN,NaN,NaN,NaN
1,NaN,DATE,NaN,STATION,TIME,STATION,TIME,DATE
2,1,10-Jun-20,AI 1930,DAMMAM,11:30,KANNUR,18:20,10-Jun-20
3,2,10-Jun-20,AI 1954,RIYADH,11:20,KOZHIKODE,18:45,10-Jun-20
4,3,10-Jun-20,AI 0964,JEDDAH,11:00,KOCHI,18:50,10-Jun-20
5,4,10-Jun-20,AI 1958,RIYADH,13:30,DELHI,20:25,10-Jun-20
6,5,10-Jun-20,AI 1682,KANNUR,19:50,MUMBAI,21:50,10-Jun-20
7,6,10-Jun-20,AI 1683,KOCHI,20:20,MUMBAI,22:20,10-Jun-20
8,7,11-Jun-20,AI 1996,DUBAI,12:10,SRINAGAR,17:10,11-Jun-20
9,8,11-Jun-20,AI 1934,RIYADH,11:00,KANNUR,18:10,11-Jun-20
10,9,11-Jun-20,AI 1938,DAMMAM,12:00,KOCHI,18:50,11-Jun-20
11,10,11-Jun-20,AI 1693,SRINAGAR,18:10,DELHI,19:35,11-Jun-20
12,11,11-Jun-20,AI 1948,JEDDAH,12:15,KOZHIKODE,20:05,11-Jun-20
13,12,11-Jun-20,AI 1682,KANNUR,19:40,MUMBAI,21:40,11-Jun-20
14,13,11-Jun-20,AI 1690,KOZHIKODE,21:00,BANGALURU,22:00,11-Jun-20
15,14,11-Jun-20,AI 1687,KOCHI,20:50,MUMBAI,22:50,11-Jun-20
16,15,11-Jun-20,AI 0120,FRANKFURT,21:15,DELHI,08:30,12-Jun-20
17,16,11-Jun-20,AI 0126,CHICAGO,12:00,DELHI,13:05,12-Jun-20
18,17,12-Jun-20,AI 1944,DAMMAM,11:00,BANGALURU,17:45,12-Jun-20
19,18,12-Jun-20,AI 1956,RIYADH,11:15,HYDERABAD,18:15,12-Jun-20
20,19,12-Jun-20,AI 1936,JEDDAH,11:00,TRIVANDRUM,18:50,12-Jun-20
21,20,12-Jun-20,AI 1684,TRIVANDRUM,20:20,MUMBAI,22:20,12-Jun-20
22,21,12-Jun-20,AI 1184,HELSINKI,18:00,DELHI,03:45,13-Jun-20
23,22,12-Jun-20,AI 1922,LAGOS,13:15,DELHI,04:00,13-Jun-20
24,23,12-Jun-20,AI 0188,TORONTO,12:15,DELHI,12:15,13-Jun-20
25,24,12-Jun-20,AI 0126,CHICAGO,12:00,DELHI,13:05,13-Jun-20
26,25,12-Jun-20,AI 0174,SAN FRANCISCO,10:30,DELHI,14:55,13-Jun-20
27,26,13-Jun-20,AI 0126,DELHI,15:30,HYDERABAD,17:30,13-Jun-20
28,27,13-Jun-20,AI 1946,DAMMAM,10:50,KOZHIKODE,17:40,13-Jun-20
29,28,13-Jun-20,AI 1940,RIYADH,11:45,TRIVANDRUM,19:15,13-Jun-20
30,29,13-Jun-20,AI 1689,KOZHIKODE,18:40,HYDERABAD,19:40,13-Jun-20
31,30,13-Jun-20,AI 0174,DELHI,17:00,BANGALURU,19:45,13-Jun-20
32,31,13-Jun-20,AI 1948,JEDDAH,12:15,BANGALURU,20:30,13-Jun-20
33,32,13-Jun-20,AI 1686,TRIVANDRUM,20:45,MUMBAI,22:45,13-Jun-20

In [0]:
#dropping unwanted rows from df_phase33
df_phase33.drop(index=[0,1],inplace=True)

In [0]:
#Concatenating the final dataframe
df_phase3 = pd.concat([df_phase33,df_phase3])

In [193]:
len(df_phase3)

559

In [0]:
df_phase3['id'] = pd.Index(range(1,len(df_phase3)+1))

In [0]:
df_phase3.set_index('id',inplace=True)

In [0]:
df_phase3.drop(columns='SNO',inplace=True)

In [0]:
df2.head()

        DATE    FLIGHT DEPARTURE\rSTATION ARRIVAL\rSTATION DEPARTURE\rTIME
0  20-May-20  AI  1213              DELHI        KATHMANDU            9:25
1  20-May-20  AI  1909          HYDERABAD           DAMMAM            9:30
2  20-May-20  AI  1913          HYDERABAD           JEDDAH            9:30
3  20-May-20  AI  0308              DELHI        MELBOURNE           12:50
4  20-May-20  AI  0123              DELHI             ROME           14:15

In [0]:
df1.rename(columns={'Unnamed: 0':'DATE',
                    "Unnamed: 1":'FLIGHT',
                    'DEPARTURE':'DEP',
                    'ARRIVAL':'ARR',
                    'DEPARTURE.1':'DEP_TIME'},inplace=True)

In [0]:
df1.head()

        DATE    FLIGHT      DEP            ARR DEP_TIME
2  17-May-20  AI  0111    DELHI         LONDON    14:00
3  18-May-20  AI  0173    DELHI  SAN FRANCISCO     3:30
4  18-May-20   AI 1230  KOLKATA          DHAKA     9:30
5  19-May-20  AI  1318   MUMBAI         MANILA     0:45
6  19-May-20  AI  1189    DELHI      VANCOUVER     3:30

In [0]:
df1.drop(index=[0,1],inplace=True)

In [0]:
len(df1)

22

In [0]:
len(df2)

39

In [0]:
df2.head()

        DATE    FLIGHT DEPARTURE\rSTATION ARRIVAL\rSTATION DEPARTURE\rTIME
0  20-May-20  AI  1213              DELHI        KATHMANDU            9:25
1  20-May-20  AI  1909          HYDERABAD           DAMMAM            9:30
2  20-May-20  AI  1913          HYDERABAD           JEDDAH            9:30
3  20-May-20  AI  0308              DELHI        MELBOURNE           12:50
4  20-May-20  AI  0123              DELHI             ROME           14:15

In [0]:
df2.rename(columns={'DEPARTURE\rSTATION':'DEP',
                    'ARRIVAL\rSTATION':'ARR',
                    'DEPARTURE\rTIME':'DEP_TIME'},inplace=True)

In [0]:
df2.columns

Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')

In [0]:
df2.head()

        DATE    FLIGHT        DEP        ARR DEP_TIME
0  20-May-20  AI  1213      DELHI  KATHMANDU     9:25
1  20-May-20  AI  1909  HYDERABAD     DAMMAM     9:30
2  20-May-20  AI  1913  HYDERABAD     JEDDAH     9:30
3  20-May-20  AI  0308      DELHI  MELBOURNE    12:50
4  20-May-20  AI  0123      DELHI       ROME    14:15

In [0]:
main_df= pd.concat([df1,df2])

In [0]:
len(main_df)

61

In [0]:
main_df

         DATE    FLIGHT        DEP            ARR DEP_TIME
2   17-May-20  AI  0111      DELHI         LONDON    14:00
3   18-May-20  AI  0173      DELHI  SAN FRANCISCO     3:30
4   18-May-20   AI 1230    KOLKATA          DHAKA     9:30
5   19-May-20  AI  1318     MUMBAI         MANILA     0:45
6   19-May-20  AI  1189      DELHI      VANCOUVER     3:30
7   19-May-20  AI  0101      DELHI       NEW YORK     5:10
8   19-May-20  AI  0131     MUMBAI         LONDON     6:30
9   19-May-20  AI  1306      DELHI        JAKARTA     6:30
10  19-May-20  AI  1201      DELHI          DHAKA     7:00
11  19-May-20  AI  1326  BENGALURU   KUALA LUMPUR     9:00
12  19-May-20  AI  1905     MUMBAI         RIYADH     9:00
13  19-May-20  AI  1907    CHENNAI         DAMMAM     9:00
14  19-May-20  AI  1901  HYDERABAD      ABU DHABI    11:30
15  19-May-20  AI  1903      DELHI          DUBAI    11:50
16  19-May-20  AI  0302      DELHI         SYDNEY    13:55
17  20-May-20  AI  0187      DELHI        TORONTO     1:00
18  20-May-20  AI  1320     MUMBAI         MANILA     4:00
19  20-May-20   AI 1308      DELHI        JAKARTA     6:30
20  20-May-20  AI  0334      DELHI        BANGKOK     7:30
21  20-May-20  AI  1911     MUMBAI         RIYADH     9:00
22  20-May-20  AI  1923    CHENNAI           DOHA     9:00
23  20-May-20   AI 1328  BENGALURU   KUALA LUMPUR     9:00
0   20-May-20  AI  1213      DELHI      KATHMANDU     9:25
1   20-May-20  AI  1909  HYDERABAD         DAMMAM     9:30
2   20-May-20  AI  1913  HYDERABAD         JEDDAH     9:30
3   20-May-20  AI  0308      DELHI      MELBOURNE    12:50
4   20-May-20  AI  0123      DELHI           ROME    14:15
5   21-May-20  AI  0187      DELHI        TORONTO     1:00
6   21-May-20  AI  1310     MUMBAI        JAKARTA     5:45
7   21-May-20  AI  1330      DELHI   KUALA LUMPUR     7:30
8   21-May-20  AI  0987  HYDERABAD         KUWAIT    10:30
9   21-May-20  AI  0346    CHENNAI      SINGAPORE    11:30
10  21-May-20  AI  0302      DELHI         SYDNEY    13:55
11  21-May-20  AI  0111      DELHI         LONDON    14:00
12  21-May-20   AI 1901      DELHI          AMMAN    14:15
13  22-May-20  AI  0173      DELHI  SAN FRANCISCO     3:30
14  22-May-20  AI  1312     MUMBAI        JAKARTA     5:45
15  22-May-20  AI  1332      DELHI   KUALA LUMPUR     7:30
16  22-May-20  AI  1995      DELHI          DUBAI     9:50
17  22-May-20  AI  1919  HYDERABAD         RIYADH    10:30
18  22-May-20  AI  0265  BENGALURU           MALE    11:30
19  22-May-20  AI  0308      DELHI      MELBOURNE    12:50
20  23-May-20  AI  1193      DELHI      VANCOUVER     3:30
21  23-May-20  AI  0101      DELHI       NEW YORK     5:10
22  23-May-20  AI  0131     MUMBAI         LONDON     6:30
23  23-May-20  AI  1263      DELHI           MALE     8:30
24  23-May-20  AI  1336  BENGALURU      SINGAPORE     9:00
25  23-May-20  AI  0302      DELHI         SYDNEY    13:55
26  23-May-20  AI  0382      DELHI      SINGAPORE    14:45
27  23-May-20  AI  0973      DELHI         MUSCAT    15:30
28  24-May-20  AI  0187      DELHI        TORONTO     1:00
29  24-May-20  AI  1322     MUMBAI         MANILA     5:45
30  24-May-20  AI  0308      DELHI      MELBOURNE    12:50
31  24-May-20  AI  0113      DELHI     BIRMINGHAM    13:05
32  24-May-20  AI  0971      DELHI           DOHA    15:15
33  25-May-20  AI  1949      DELHI      KARAGANDA     5:40
34  25-May-20  AI  1945      DELHI         MOSCOW     6:40
35  25-May-20  AI  1947      DELHI           KIEV     7:35
36  25-May-20  AI  1324     MUMBAI           CEBU     9:30
37  25-May-20  AI  0143      DELHI          PARIS    13:15
38  25-May-20   AI 1199      DELHI         DUBLIN    14:30

In [0]:
main_df2= pd.concat([df[3],df[4],df[5]])
len(main_df2)

188

In [0]:
sum = 0
for i in range(6):
  print(len(df[i]))
  sum = sum + len(df[i])
print('Total records: ',sum)

24
39
39
39
39
8
Total records:  188

In [0]:
for i in range(6):
  print('Columns in: df.{var}'.format(var=i),df[i].columns)

Columns in: df.0 Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')
Columns in: df.1 Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')
Columns in: df.2 Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')
Columns in: df.3 Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')
Columns in: df.4 Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')
Columns in: df.5 Index(['DATE', 'FLIGHT', 'DEP', 'ARR', 'DEP_TIME'], dtype='object')

In [0]:
for i in range(1,6):
  df[i].rename(columns={'DEPARTURE\rSTATION':'DEP',
                    'ARRIVAL\rSTATION':'ARR',
                    'DEPARTURE\rTIME':'DEP_TIME'},inplace=True)

In [0]:
df[0].rename(columns={'Unnamed: 0':'DATE',
                      'Unnamed: 1': 'FLIGHT',
                      'DEPARTURE':'DEP',
                      'ARRIVAL':'ARR',
                      'DEPARTURE.1':'DEP_TIME'},inplace=True)

In [0]:
main_df = pd.concat([df[0],df[1],df[2],df[3],df[4],df[5]])

In [0]:
main_df.head()
len(main_df)

188

In [0]:
main_df1 = main_df.copy()

In [0]:
len(main_df1)

188

In [0]:
main_df1.iloc[3,:5]

DATE            18-May-20
FLIGHT           AI  0173
DEP                 DELHI
ARR         SAN FRANCISCO
DEP_TIME             3:30
Name: 3, dtype: object

In [0]:
main_df1.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9,
            ...
            37, 38,  0,  1,  2,  3,  4,  5,  6,  7],
           dtype='int64', length=188)

In [0]:
main_df1['id'] = 0

In [0]:
lst= list(range(1,len(main_df1)+1))
id = pd.Index(lst)
main_df1.set_index(keys= id,inplace=True)
main_df1

          DATE    FLIGHT      DEP            ARR DEP_TIME  id
1    17-May-20  AI  0111    DELHI         LONDON    14:00   0
2    18-May-20  AI  0173    DELHI  SAN FRANCISCO     3:30   0
3    18-May-20   AI 1230  KOLKATA          DHAKA     9:30   0
4    19-May-20  AI  1318   MUMBAI         MANILA     0:45   0
5    19-May-20  AI  1189    DELHI      VANCOUVER     3:30   0
..         ...       ...      ...            ...      ...  ..
182  11-Jun-20  AI  1183    DELHI       HELSINKI    13:30   0
183  12-Jun-20  AI  0187    DELHI        TORONTO     1:00   0
184  12-Jun-20  AI  1921    DELHI          LAGOS     5:30   0
185  13-Jun-20   AI 1905   MUMBAI          LAGOS     6:30   0
186  14-Jun-20  AI  0173    DELHI  SAN FRANCISCO     3:30   0

[186 rows x 6 columns]

In [0]:
main_df1.drop(index=[0,1],inplace=True)

In [0]:
main_df1

          DATE    FLIGHT      DEP            ARR DEP_TIME  id
2    17-May-20  AI  0111    DELHI         LONDON    14:00   0
3    18-May-20  AI  0173    DELHI  SAN FRANCISCO     3:30   0
4    18-May-20   AI 1230  KOLKATA          DHAKA     9:30   0
5    19-May-20  AI  1318   MUMBAI         MANILA     0:45   0
6    19-May-20  AI  1189    DELHI      VANCOUVER     3:30   0
..         ...       ...      ...            ...      ...  ..
183  11-Jun-20  AI  1183    DELHI       HELSINKI    13:30   0
184  12-Jun-20  AI  0187    DELHI        TORONTO     1:00   0
185  12-Jun-20  AI  1921    DELHI          LAGOS     5:30   0
186  13-Jun-20   AI 1905   MUMBAI          LAGOS     6:30   0
187  14-Jun-20  AI  0173    DELHI  SAN FRANCISCO     3:30   0

[186 rows x 6 columns]

In [0]:
main_df1.drop(columns='id',inplace=True)

In [0]:
main_df1

          DATE    FLIGHT      DEP            ARR DEP_TIME
1    17-May-20  AI  0111    DELHI         LONDON    14:00
2    18-May-20  AI  0173    DELHI  SAN FRANCISCO     3:30
3    18-May-20   AI 1230  KOLKATA          DHAKA     9:30
4    19-May-20  AI  1318   MUMBAI         MANILA     0:45
5    19-May-20  AI  1189    DELHI      VANCOUVER     3:30
..         ...       ...      ...            ...      ...
182  11-Jun-20  AI  1183    DELHI       HELSINKI    13:30
183  12-Jun-20  AI  0187    DELHI        TORONTO     1:00
184  12-Jun-20  AI  1921    DELHI          LAGOS     5:30
185  13-Jun-20   AI 1905   MUMBAI          LAGOS     6:30
186  14-Jun-20  AI  0173    DELHI  SAN FRANCISCO     3:30

[186 rows x 5 columns]

In [0]:
final_df = main_df1

In [0]:
final_df

          DATE    FLIGHT      DEP            ARR DEP_TIME
1    17-May-20  AI  0111    DELHI         LONDON    14:00
2    18-May-20  AI  0173    DELHI  SAN FRANCISCO     3:30
3    18-May-20   AI 1230  KOLKATA          DHAKA     9:30
4    19-May-20  AI  1318   MUMBAI         MANILA     0:45
5    19-May-20  AI  1189    DELHI      VANCOUVER     3:30
..         ...       ...      ...            ...      ...
182  11-Jun-20  AI  1183    DELHI       HELSINKI    13:30
183  12-Jun-20  AI  0187    DELHI        TORONTO     1:00
184  12-Jun-20  AI  1921    DELHI          LAGOS     5:30
185  13-Jun-20   AI 1905   MUMBAI          LAGOS     6:30
186  14-Jun-20  AI  0173    DELHI  SAN FRANCISCO     3:30

[186 rows x 5 columns]

In [0]:
final_df.to_excel('VB_phase2.xlsx')